<div class="landing_page_container">
  <h1>XBud-<span>G</span>et</h1>
  <p>
    <a href="<%= new_user_registration_path %>">Sign Up</a> |
    <a href="<%= new_user_session_path %>">Log In</a>
  </p>
</div>

