/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2 {
  color: #111165;
}

h2 {
  font-size: 24px;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.categories_container {
    padding: 12pt 24px;
}

.nav_ul {
    padding: 0 24px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav_ul li {
    list-style: none;
}

.nav_ul li p {
    font-size: 25px;
    color: #fff;
    text-align: center;
}

.user_profile_wrapper {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user_icon_wrapper {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.user_icon_wrapper .fa-user {
    color: #3778c2;
}

.hamburger_menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.line {
  width: 30px;
  height: 3px;
  background-color: #3778c2;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger_menu.active .line:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
  z-index: 100;
}

.hamburger_menu.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger_menu.active .line:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
  z-index: 100;
}

.nav_ul {
    width: 100%;
    height: 100vh;
    background-color: #3778c2;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: start;
    top: 0;
    padding-top: 100px;
    left: -100%;
    z-index: 10;
    transition: 0.3s;
  }

  .nav_ul.active {
    left: 0;
  }

/* Landing Page */

.landing_page_container {
  width: auto;
  height: 90vh;
  margin: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  height: 5vh;
  padding: 0 24px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo h1 {
  font-size: 14px;
  color: #3778c2;
}

span {
  color: #ff04d1;
  text-decoration: line-through;
}

/* Landing Page Buttons */

.landing_page_container p {
  width: 100%;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 2rem;
  gap: 2rem;
}

.landing_page_container p a,
.form_button {
    width: 100%;
    padding: 20px 20px;
  position: relative;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #3778c2;
  cursor: pointer;
  user-select: none;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  }

  .sign_out_button {
    padding: 12px 20px;
  position: relative;
  color: #3778c2;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);

  }

.landing_page_container p a::before,
.landing_page_container p a::after,
.form_button::before,
.form_button::after,
.sign_out_button::before,
.sign_out_button::after {
  content: '';
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.landing_page_container p a:hover,
.form_button:hover,
.sign_out_button:hover {
  color: #9d9a9a;
  transition-delay: 0.5s;
}

.landing_page_container p a:hover::before,
.form_button:hover::before,
.sign_out_button:hover::before {
  transition-delay: 0s;
}

.landing_page_container p a:hover::after,
.form_button:hover::after,
.sign_out_button:hover::after {
  background: #111165;
  transition-delay: 0.35s;
}

/* Sign up/Login Pages */

.sign_up_container,
.login_container,
.resend_confirmation_container,
.forgot_password_container,
.new_category_container,
.editing_user_container,
.change_password_container {
  height: 95vh;
  padding: 0 24px;
  background-color: #fff;
}

.sign_up_form_wrapper,
.login_form_wrapper,
.resend_confirmation_form_wrapper,
.forgot_password_form_wrapper,
.new_category_form_wrapper,
.category_wrapper,
.transaction_wrapper,
.editing_user_form_wrapper,
.change_password_form_wrapper {
  width: 100%;
  padding: 2rem 1rem;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  background-color: #f5f5f5;
}

.field {
  padding-bottom: 1rem;
}

.table_input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  outline: none;
  background: none;
}

.label {
  padding: 1rem 0;
}

.links_container {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.links,
.check_box_label {
  color: #d3d3d3;
}

/* Categories page */

.most_recent_wrapper {
    background-color: #3778c2;
    padding: 1rem 24px;
}

.most_recent_wrapper p{
  text-align: center;
  color: #fff;
}
.category_wrapper,
.transaction_wrapper {
  height: 78.5vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
}
.category {
  padding: 12px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.new_category {
  align-self: flex-end;
  padding: 20px;
  background-color: #5fb523;

}

.footer_links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 10px;
}

.category .name {
  font-size: 18px;
  color: #9d9a9a;
}

.category .time {
  font-size: 12px;
  color: #9d9a9a;
}

.category_wrapper_h1 {
  text-align: center;
  padding: 1rem 0;
}


.new_category_wrapper{
  width: 100%;
  margin: auto;
  padding: 2rem 1rem;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  background-color: #f5f5f5;
}

.cancel_account_wrapper {
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  background-color: #f5f5f5;
}
.editing_user_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

